@model ProjektZPO1.Models.Subject
@{
    ViewBag.Title = "SubjectEdit";

    if (Session["Id"] == null || Session["UserType"].ToString() != "2")
    {
        Response.Redirect("~/Home/Index");
    }
}

<div class="jumbotron">
    <h1>
        Edycja przemiotu
    </h1>
    <div class="text-right">
        <button class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("SubjectsList", "Admin")'">
            Cofnij
        </button>
    </div>
</div>

@using (Html.BeginForm("SubjectEditSubmit", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Id, new { @class = "col-md-4 control-label hidden" })
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.Id, new { @class = "form-control hidden" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-4 control-label" })
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-4 col-md-8">
            <input type="submit" value="Edytuj" class="btn btn-primary" />
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.IdTeacher, new { @class = "col-md-4 control-label hidden" })
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.IdTeacher, new { @class = "form-control hidden" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.IdClassRoom, new { @class = "col-md-4 control-label hidden" })
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.IdClassRoom, new { @class = "form-control hidden" })
        </div>
    </div>
}
